:root {
  font-family: "Sanchez", serif;
  --yellow: #ffc75f;
  --yellow_dark: #e7b355;
  --purple: #845ec2;
  --light_grey: #efefef; /* Inputs */
  --grey: #969696; /* Text */
}
* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1 {
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
  background-color: var(--yellow);
  /* margin-left: 2rem; */
  text-align: center;
  font-size: xx-large;
}

h2 {
  line-height: 2;
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
  background-color: var(--yellow);
  margin-left: 10%;
  text-align: left;
  font-size: large;
}

h3 {
  /* font-family: "Sanchez", serif; */
  color: white;
  background-color: var(--yellow);
  /* margin-left: 40%; */
  text-align: center;
}

h6 {
  top: -2.3rem;
  margin-left: 13px;
  color: var(--grey);
  font-size: medium;
  font-style: unset;
  position: absolute;
}

.yellowHead {
  background-color: var(--yellow);
  /* margin: 2rem; */
  height: 20rem;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginButton,
.translateButton {
  background-color: var(--purple);
  border: none;
  color: white;
  /* padding: 5px; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 22px;
  margin: 0px 20px;
  border-radius: 50%;
  position: absolute;
  left: 87%;
  top: 23.6%;
}

input {
  border: solid;
  font-family: "Sanchez", serif;
  font-size: large;
  width: 93%;
  border-radius: 20px;
  border-color: var(--grey);
  /* margin: 20px; */
  padding: 10px;
  position: absolute;
  background-color: var(--light_grey);
  top: auto;
  left: auto;
}

.inputContainer {
  border-radius: 20px;
  border: none;
  position: relative;
  top: -5rem;
  width: 40rem;
  height: 9rem;
  margin: auto;
  box-shadow: 0px 0px 10px 0px var(--grey);
  padding: 1.5rem;
  background-image: linear-gradient(
    to bottom,
    white 0%,
    white 80%,
    var(--purple) 80%,
    var(--purple) 100%
  );
}

.inputContainer2 {
  border-radius: 20px;
  border: none;
  position: relative;
  top: 0rem;
  width: 40rem;
  height: auto;
  margin: auto;
  box-shadow: 0px 0px 10px 0px var(--grey);
  padding: 1.5rem;
  background-image: linear-gradient(
    to bottom,
    white 0%,
    white 80%,
    var(--purple) 80%,
    var(--purple) 100%
  );
}

hr {
  border: 1px solid var(--yellow_dark);
}
